---
layout: page
title: Tags
permalink: /tags/
---

<div class="tags-page">
  <div class="tag-cloud">
    {% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags %}
      <a class="tag" href="#{{ tag[0] | slugify }}" style="font-size: {{ tag[1].size | times: 4 | plus: 80 }}%">
        #{{ tag[0] }}
        <span class="tag-count">{{ tag[1].size }}</span>
      </a>
    {% endfor %}
  </div>

  <div class="tag-sections">
    {% for tag in sorted_tags %}
      <section id="{{ tag[0] | slugify }}" class="tag-section">
        <h2 class="tag-title">#{{ tag[0] }}</h2>
        <ul class="tag-posts">
          {% assign sorted_posts = tag[1] | sort: 'date' | reverse %}
          {% for post in sorted_posts %}
            <li class="tag-post">
              <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
              <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </div>
</div>
